* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(14, 14, 14);
    color: rgb(221, 221, 221);

}

p {
    margin: auto;
    text-align: justify;
    width: 50%;
    font-size: 20px;
}

h1 {
    text-align: center; 
}

h2{
    text-align: center; 
}

h3{
    text-align: center; 
}

ul {
    width: 50%;
    margin: auto;
    font-size: 20px;
}

li {
    color: rgb(221, 221, 221);
}

img {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 398px;
    border-radius: 10px;
}

strong {
    color: white;
}

ol {
    width: 50%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
}

.exDeSo {
    text-align: center;
    font-size: 22px;
    margin: auto; 
}

.cabecalho {
    text-align: center;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    font-size: large;
    border-width: 1px;
    background-color: black;
}

form {
    text-align: center;
}

fieldset {
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
}

.centralizar {
    text-align: center;
}

.link_das_paginas {
     margin-left: 40%;
}

table, th ,td {
    border: solid 1px rgb(221, 221, 221);
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.rodape {
    display: inline-block;
    margin: auto;
    background-color: black;
}

#rodape {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
    border-radius: 10px;
}
.link_rodape {
    background-color: black;
}